nav ul{list-style-type: none;
display: flex;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
margin-right: px;
cursor: alias;
}

nav ul li{margin-right: 70px;
}

nav{border: 1px solid pink;
background-color:pink ;

}

#head{border: 2px solid pink;
display: flex;
margin-top: 20px;
}

#box1{
border: 2px solid pink;
flex: 1;
padding-left: 100px;
width: 100px;
background-color: lightpink;
}

#box2{ border: 2px solid palevioletred;
padding-left: 10px;
background-color:palevioletred ;

}

#neck{border: 2px solid blue;
display: flex;
margin-top: 20px;
}

#box3{border: 2px solid papayawhip;
background-color: peachpuff ;
padding-left: 100px;
flex: 1;
}

#box4{background-color:blueviolet;
flex: 1;
padding-left: 100px;
}

#body{border: 2px solid peru;
display: flex;
margin-top: 20px;
}

#box5{background-color:peru ;
padding-left: 50px;
padding-right: 30px;
}

#box6{background-color: plum;
flex: 1;
padding-left: 100px;
}

